<launch>
  <node pkg="rocon_solution_server" name="add_cleaning_srv" type="add_srv.py">
    <param name="filename" value="$(find rocon_solution_server)/services/Cleaning.service"/>
  </node>
  <node pkg="rocon_solution_server" name="add_srv" type="add_srv.py">
    <param name="filename" value="$(find rocon_solution_server)/services/DrinkDelivery.service"/>
  </node>

  <include file="$(find rocon_solution_server)/launch/add_calibration.launch"/>
</launch>
