<launch>
  <node pkg="rocon_solution_server" name="add_cleaning_srv" type="add_srv.py">
    <param name="filename" value="$(find rocon_solution_server)/services/Cleaning.service"/>
  </node>
  <node pkg="rocon_solution_server" name="add_srv" type="add_srv.py">
    <param name="filename" value="$(find rocon_solution_server)/services/DrinkDelivery.service"/>
  </node>
  <!--
  <node pkg="rocon_solution_server" name="add_srv2" type="add_srv.py">
    <param name="filename" value="$(find rocon_solution_server)/services/SensorCalibration.service"/>
  </node>
  -->
</launch>
