name: Cleaning
description: sweeping room
priority: 3
roles:
  - 
    name: Cleaner
    interruptible: true
    condition:
      -
        vacuum: 100
        minimum_speepd: 1
