name: DrinkDelivery
description: Deliver drinks
priority: 4
roles:
  - 
    name: OrderReceiver
    interruptible: false
    condition:
        phone: 1
        create_job: 1

