name: DrinkDelivery
description: Deliver drinks
priority: 1
roles:
  - 
    name: OrderReceiver
    interruptible: false
    condition:
      - 
        phone: true
        create_job: true

