name: SensorCalibration
description: Robot moves around and calibrates the location of camera sensors
priority: 1
roles:
  -
    name: Calibrator
    condition:
      minimum_speed   : 10
  -
    name: CameraManager
    condition:
      camera_links: 5 
  -
    name: Database
    condition:
      mysql: true
