name: SensorCalibration
description: Robot moves around and calibrates the location of camera sensors
priority: 1
roles:
  -
    name: Calibrator
    condition:
      minimum_speed   : "100km/s"
      battery_status  : "5hrs"
  -
    name: CameraManager
    condition:
      fine_pixel      : "999"
